.App {
  background: url('./images/1666369799_14-mykaleidoscope-ru-p-priroda-shveitsarii-krasivo-14.jpg');
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-card{
  width: 400px;
  height: 500px;
  background: rgba(255, 255, 255, 0.097);
  border-radius: 15px;
  /* box-shadow: 4px 4px 4px grey; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.main-card div input {
  width: 250px;
  height: 30px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.main-card div button{
  width: 40px;
  height: 30px;
  border-radius: 5px;
  border: none;
}

.main-card div{
  display: flex;
  gap: 10px;
}

.weather-data{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weather-data h1{
  color: white;
}

.weather-data p{
  color: white;
  font-size: 22px;
}